**/*\.trace
**/*\.o
**/*\.d
**/*\.su
**/*\.i
**/*\.s
**/*\.si4project

project/realtek_amebaD_va0_example/inc/inc_hp/build_info.h
project/realtek_amebaD_va0_example/inc/inc_lp/build_info.h

project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/gnu_utility/gnu_script/acut_loader/flash_loader_ram_1.bin
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/gnu_utility/gnu_script/acut_loader/target_FPGA.axf
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/build/*
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/image/*
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/toolchain/linux/*
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/obj_list.map
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/config/scripts/lxdialog/lxdialog

project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/lib/application/lib_user.a
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/build/*
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/image/*
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/toolchain/linux/*
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/obj_list.map
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/obj_list.txt
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/ram_size.txt
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/text.map
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/config/scripts/lxdialog/lxdialog
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/lib/application/lib_resample.a
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/toolchain/asdk/*.tar.bz2
